html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* ヘッダー　-------------------------------------------------------------------------------------------------------*/

header {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    background: radial-gradient(circle, #eccf28, #d36804);
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.sp-menu {
    display: none;
}

.overlaysp {
    display: none;
}

header h1 {
    line-height: 60px;
    text-align: center;
    margin-left: 30px;
    font-size: 30px;
}

header a {
    margin-right: 30px;
    color: #090303;
}

header button {
    font-size: 16px;
    border-radius: 16px;
    margin-right: 40px;
    color: #fff;
    background-color: black;
    padding: 15px 25px;
    cursor: pointer;
}

header button:hover {
    opacity: 0.7;
}

/* ファーストビュー　---------------------------------------------------------------------------------------------------*/

.slideshow-container {
    padding-top: 100px;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 600px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

.prev {
    top: 300px;
    left: 30%;
    border-radius: 5px;
}

.next {
    top: 300px;
    right: 30%;
    border-radius: 5px;
}


.promortion {
    background-image: url(image/pixta_95792845_M-1118x538.webp);
    background-size: cover;
    width: 100%;
    display: block;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.promortion h2 {
    color: #FFFFFF;
    margin-top: 100px;
    font-size: 50px;
}

.promortion p {
    color: #FFFFFF;
    padding: 20px;
    font-size: 24px;
}

.promortion p:first-of-type {
    margin-top: 20px;
}

.introduction {
    background-color: rgba(0, 0, 0, 0.4);
}

/*　詳細　　----------------------------------------------------------------------------------------------------------*/

.detail {
    background: radial-gradient(circle, #FFFFFF, #F8AE17);
    width: 100%;
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    margin: 0 auto;
}

.detail p {
    padding: 30px;
    font-size: 20px;
}

.tittle {
    background: rgba(232, 145, 5, 0.4);
    font-size: 40px;
}

.price {
    display: flex;
}

.price div {
    width: 50%;
}

.price div:first-of-type {
    border-right: 1px solid #000;
}

.price div p {
    padding: 15px;
}

/*　ルール説明　------------------------------------------------------------------------------------------------------*/

.rule {
    background-image: url(image/okumonof-mahjong107-1024x576.png);
    background-size: cover;
}

.rule h3 {
    text-align: center;
    display: block;
    justify-content: center;
    font-size: 30px;
    margin: 100px 0px 50px 0px;
}

.rule-explanation {
    margin: 0 auto;
    font-size: 20px;
    width: 60%;
    height: 400px;
    margin-bottom: 100px;
    writing-mode: vertical-rl;
    /* 右から左への縦書き */
    text-orientation: upright;
    /* テキストの方向を垂直に保つ */
}

.rule-explanation p {
    margin-left: 30px;
}

/*　メニュー　----------------------------------------------------------------------------------------------------------*/

.menu-bg {
    background-image: url(image/main.jpg);
    background-size: cover;
}

.menu {
    display: flex;
    width: 60%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    background: rgba(1, 1, 0, 0.7);
}

.menu div {
    width: 50%;
}

.menu div:first-of-type {
    border-right: 1px solid #000;
}

.menu h3 {
    text-align: center;
    display: block;
    justify-content: center;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 5;
}

.menu li {
    list-style-type: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
}

.menu li:first-of-type {
    margin-top: 30px;
}

/*　オーナー紹介 ---------------------------------------------------------------------------------------------------------*/

.orner {
    background: radial-gradient(circle, #FFFFFF, #F9B63F);
    display: flex;
    width: 100%;
    height: 700px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.orner h3 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.orner-1 {
    display: flex;
    height: 500px;
}

.orner-1 div {
    margin: 20px;
}

.orner-1 img {
    width: 100%;
    height: 100%;
}

/* マップ　----------------------------------------------------------------------------------------------------------*/

.map {
    background: radial-gradient(circle, #FFFFFF, #F9B63F);
    height: 600px;
}

.map-screen {
    margin: 0 auto;
}

/* フッター　----------------------------------------------------------------------------------------------------------*/

footer {
    background-color: #000;
    text-align: center;
    justify-content: center;
    border-top: 1px solid #000;
}

small {
    display: block;
    line-height: 60px;
}

/* HP画面全体のスライドショー --------------------------------------------------------------------------------------------------------------*/

.animation-container {
    overflow: hidden;
}

.animate-text {
    animation: slide-up 1.5s ease-in-out forwards;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

/* 画面幅が600px以下 スマートフォン用 ------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 600px) {


    header a {
        margin-right: 10px;
        color: #0e0c0c;
    }

    .overlay-pc {
        display: none;
    }

    .sp-menu {
        display: block;
    }

    .sp-menu #open {
        position: absolute;
        top: 10px;
        right: 16px;
        font-size: 36px;
        cursor: pointer;
    }

    .sp-menu #open.hide {
        display: none;
    }

    .overlaysp {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(249, 246, 246, 0.95);
        text-align: center;
        padding: 64px;
        opacity: 0;
        z-index: 80;
        pointer-events: none;
    }

    .overlaysp #close  {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 36px;
        cursor: pointer;
    }

    .overlaysp ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .overlaysp li {
        margin-top: 24px;
    }

    .overlaysp.show {
        opacity: 1;
        pointer-events: auto;
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        padding: 15px;
        cursor: pointer;
        font-size: 20px;
        user-select: none;
    }

    .prev {
        top: 300px;
        left: 10px;
        border-radius: 5px;
    }

    .next {
        top: 300px;
        right: 10px;
        border-radius: 5px;
    }

    .menu {
        display: flex;
        width: 60%;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        background: rgba(1, 1, 0, 0.7);
    }

    .menu h3 {
        text-align: center;
        display: block;
        justify-content: center;
        color: #FFFFFF;
        font-size: 20px;
    }

    .rule-explanation {
        font-size: 20px;
        writing-mode: vertical-rl;
        /* 右から左への縦書き */
        text-orientation: upright;
        /* テキストの方向を垂直に保つ */
        overflow-x: auto;
    }
}